body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(118, 15, 15) 20%, black 100%);

}

.main {
    font-family: sans-serif;
    font-size: larger;
    font-weight: 800;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: white;
    background-image: url('./images/image.jpg');
    background-size: cover;
}

.mainContent {
    max-width: 1200px;
    padding: 0px;
    padding-left: 15%;
    /* margin: 30px; */
    width: 100%;
    height: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.potfoliobutton {
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.mainContent h1 {
    display: block;
    width: fit-content;
    font: 3.2rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

.mainContent h1:nth-child(1) {
    animation-delay: 1s;
}

.mainContent h1:nth-child(2) {
    animation-delay: 2s;
}

.mainContent h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}



.potfoliobutton:hover {
    background-color: white;
    border-color: white;
    color: black;
    transition: all;
    transition-duration: .3s;
}

.mainContent h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(17, 162, 210);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

.mainContent h1:nth-child(1) span {
    animation-delay: 0.5s;
}

.mainContent h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.mainContent h1:nth-child(3) span {
    animation-delay: 2.5s;
}

.proj {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.sectionHeading {
    height: fit-content;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: rgb(17, 162, 210);
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 10%;
    background-color: grey;
    height: 5px;
    border-radius: 20px;
}

.projects {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 3.2rem;
    padding: 0;
}



.projectSubClass {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.projects img {
    align-self: center;
    width: 100%;
    height: fit-content;
    max-width: 400px;
    max-height: 400px;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.projheading {
    font-size: 1.5rem;
}

.card {
    font-size: 1rem;
    height: fit-content;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 0;
    margin: 20px;
}

.card:hover {
    padding: 10px;
    /* padding-left: 45px; */
    transition: all;
    transition-duration: 0.3s;
}

.contact {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact h2 {
    width: 100%;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: rgb(17, 162, 210);
}

.info-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info{
    width: 90%;
    padding: 10px;
    max-width: 1000px;
}
.info h3{
    font-size: xx-large;
    color: lightblue;
}

.info h4{
    font-size: x-large;
    color: white;
}

.name{
    display: flex;
    align-items: center;
}

.formdiv {
    width: 90%;
    max-width: 1000px;
    padding: 10px;

}

.formdiv h1 {
    color: rgb(17, 162, 210);
    font-size: xxx-large;
    margin-bottom: 0;
    padding-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formdiv p {
    color: lightblue;
    font-size: larger;
    margin-top: 0;
    padding-top: 0;
}

.mailLink {
    text-decoration-line: none;
}

form label {
    display: block;
    font-size: x-large;
    color: lightblue;
    border-radius: 5px;
    margin: 25px 0 5 0;
}

.text {
    width: 100%;
    height: 50px;
    background-color: rgb(208, 236, 246);
    border-radius: 10px;
}
.text:focus{
    background-color: white;
}

textarea {
    background-color: rgb(208, 236, 246);
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

textarea:focus{
    background-color: white;
}

#submit {
    display: block;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(208, 236, 246);
}

#submit:hover{
    font-size: x-large;
    color: black;
    background-color: rgb(17, 162, 210);
    padding: 0;
    transition: all;
    transition-duration: .3s;
}


svg{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    fill: rgb(17, 162, 210);
    min-width: 50px;
    min-height: 50px;
}


footer{
    background-color: black;
    width: 100%;
    height: fit-content;
}

footer p{
    color: white;
    font-size: larger;
    text-align: center;
    padding: 5px;
}

footer span{
    color: crimson;
}


@media (min-width: 480px) {
    .projects img {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width:945px) {

    .sectionHeading {
        letter-spacing: 1.5rem;
    }

    .card {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        padding: 0;
    }


    .projects img {
        width: fit-content;
        height: 100%;
        max-width: 400px;
        max-height: 400px;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 15px;
    }
}


@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        left: 100%;
        width: 0;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}